/target/
/info/contract_coherency_graph.json
/info/information_flow_analysis.json
/info/program_semantic_model.json
/info/realized_behavioral_flow_graph.json
/info/semantic_analysis.json
/info/semantic_conformance.json
/info/source_artifact_model.json
/info/state_effect_analysis.json
