/target/
/_info/contract_coherency_graph.json
/_info/information_flow_analysis.json
/_info/program_semantic_model.json
/_info/realized_behavioral_flow_graph.json
/_info/semantic_analysis.json
/_info/semantic_conformance.json
/_info/source_artifact_model.json
/_info/state_effect_analysis.json
